<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <h1>Students</h1>
    </div>

    <div class="row">
        <div class="col-3">
            <a href="/students" class="btn btn-outline-secondary btn-sm mb-3">List Students</a>
        </div>
    </div>

    <table class="table table-light">
        <thead class="table-active">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.surName}"></td>
            <td>
                <form method="get" th:action="@{/students/{id}/edit(id=${student.id})}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form method="post" th:action="@{/students/{id}(id=${student.id})}" onsubmit="return confirm('Telebeni silmek isteyiren?');">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>
